@model Fermeture

<h1>Prochaine fermeture</h1>

<h2>La prochaine fermeture aura lieu du @Model.ClosingDateString au @Model.ReopeningDateString</h2>
<h3>Cause : @Model.BoatName</h3>
<h3>Durée : @Model.Duration</h3>